**/.ipynb_checkpoints/*
**/*.egg-info/*
**/__pycache__/*
**/.cache/*
**/.eggs/*
**/build/*

**/bin/*
**/lib/*
**/lib64
**/share/*
pip-selfcheck.json
pyvenv.cfg

**/.mypy_cache/*

**/test-artifacts/*
**/.tox/*
**/dist/*
